<div class="container">
 <div class="row">
<!--books一覧のところに,current_userのマイページ的なの乗っけたい-->
<!--%= @bookk.user.name %>-->
<!--%= @bookk.user.introduction %>-->
<!--%= attachment_image_tag @bookk.user,:profile_image,:fill,60,60,fallback: "no_image.jpg" %>-->

  <div class="col-lg-4">
<!--controller通さずにviewに直接current_userメソッドを用いることで、current_user情報は引き出せる-->
<h1>User info</h1>
  <table class="table">
   <tr>
    <th><%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback:"no_image.jpg" %></th>
   </tr>

   <tr>
    <th>name</th>
    <td><%= current_user.name %></td>
   </tr>

   <tr>
    <th>introduction</th>
    <td><%= current_user.introduction %></td>
   </tr>
  </table>

 <% if current_user %>
  <%= link_to edit_user_path(current_user),class:"btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-cogs"></i>
  <% end %>
 <% end %>

 <h1>New book</h1>


<% if @book.errors.any? %>
<div class="error-box"><%= @book.errors.count %> error prohibited this obj from being saved:<br/></div>
  <% @book.errors.full_messages.each do |message| %>
    ・<%= message %>
  <% end %>
<% end %>


<%= form_with model:@book,local:true do |f| %>
Title<br/>
<%= f.text_field :title %><br/>
Opinion<br/>
<%= f.text_area :body %><br/>

<button type="submit" class="btn btn-success">Create Book</button>
<!--もともとの記述-->
<!--<div class="create-book">%= f.submit"Create Book" %></div>-->
<% end %>

</div>

<div class="col-lg-8">
<h1>Books</h1>

<table class="table">
 <tr>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
 </tr>
<% @books.each do |book| %>
 <tr>
   <td><%= attachment_image_tag book.user, :profile_image,:fill,1,1,fallback: "no_image.jpg" %></td>

   <td><%= link_to book_path(book.id) do %>
       <%= book.title %></td>

 <% end %>
   <td><%= book.body %></td>
 </tr>
 <% end %>
 </table>

 </div>
 </div>
 </div>